@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Zen+Dots&display=swap');

*{
  margin: 0;
  padding: 0;
}
:root{
  --bg: #12002D;
  --bc: #2b0053;
  --ac: #FFD700;
  --txt: #eeeeee;
}
body{
  transition: all 0.5s ease;
  overflow-x: hidden;
  background: var(--bg);
  color: var(--txt);
}
body::-webkit-scrollbar{
  width: 0;
  background: transparent;
}
h1, h2, h3{
  font-family: Zen Dots, sans-serif;
  margin: 0.5rem 0;
  color: var(--ac);
  text-shadow: 0 0 1px #ffffff, 0 0 4px rgb(255 233 69 / 50%), 0 0 1px #000;
}
p, span, a{
  font-family: Lato, sans-serif;
  color: var(--txt);
  margin: 0.5rem 0;
  /* text-decoration: none; */
}
span{
  font-size: 0.8rem;
  color: #d5d5d5;
}

main{
  margin: 24px;
  height: 100dvh;
}
.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
  position: relative;
}
  
.div1 {
  grid-row: span 2 / span 2;
}

.div2 {
  grid-column: span 4 / span 4;
  grid-column-start: 2;
  grid-row-start: 1;
  /* border: 2px solid white; */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
}
.div3 {
  grid-column: span 4 / span 4;
  grid-column-start: 2;
  grid-row-start: 2;
}
.div3 li{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}
.div3 li ul {
  margin: 10px;
}
.div3 li ul i{
  font-size: 25px;
}
.div4 {
  grid-column: span 4 / span 4;
  grid-row: span 3 / span 3;
  grid-column-start: 1;
  grid-row-start: 3;
}

.div4 .desk{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  width: 90%;
}
.div4 .desk .project{
  padding: 12px;
  width: 40%;
  border-radius: 12px;
}
.div4 .desk .project:hover{
  box-shadow:  0 0 4px 0 #ffffffd8;
  background-color: var(--bc);
}
.div5 {
  grid-row: span 3 / span 3;
  grid-column-start: 5;
  grid-row-start: 3;
}

.div1, .div2, .div3, .div4, .div5{
  border-radius: 12px;
  padding: 12px;
}
.profil img{
  width: 200px;
  border-radius: 50%;
}
